@CHARSET "UTF-8";

body {
	  background-color: #CCCCFF;
	}
	

body {
	font-family: arial, sans-serif;
	
}
nav {
	font-weight: bold;
	text-align: center;
	width: 10em;
	background-color:#007BA7;

}

nav ul {
	list-style: none;
	padding: 0;

}

nav ul li {
	text-align: center;
	width: 10em;
	border-top: 2px solid white;

	
}

nav a{
	text-decoration: none;
	color: black;
}

section {
	position:absolute;
	left: 14em;
	top: 5em;
}

form ul{
	list-style: none;
	
}

.post{
	width:80%;
	background-color:yellowgreen;
	padding:15px;
	border-radius:5px;
	margin-bottom:30px;
	box-shadow: 15px 15px 50px dimgrey;
}